.mytabs
  %ul
    %li
      %a{:href=>"#tabs-entidad-1"}=@entidad.try(:tentidad).try(:name)
    %li
      %a{:href=>"#tabs-entidad-2"} Saldo
    %li
      %a{:href=>"#tabs-entidad-3"} Pagos

  #tabs-entidad-1.ui-widget.ui-widget-content
    %h3.ui-widget-header
      =@entidad.try(:tentidad).try(:name)

    .action_bar
      -if can? :edit, @entidad
        = link_to 'Editar', edit_entidad_path(@entidad),:remote=>true,:width =>'200px'
    %br

    %p
      %b Nombre:
      = @entidad.try(:name)
    %p
      %b Calle:
      = @entidad.calle
      = @entidad.localidad.try(:name)
    %p
      %b Cuit:
      = @entidad.cuit

    %p
      %b Telefono:
      = @entidad.telefono

    %p
      %b Legajo:
      = @entidad.legajo

    %p
      %b Email:
      = @entidad.email

    %p
      %b Web:
      = @entidad.web
    %br
    = render :partial => "layouts/version",:locals=>{:model=>@entidad,:controller=>:entidads}
  #tabs-entidad-2
    = render :partial => "saldos/saldos",:locals=>{:@saldos=>@entidad.saldos}
  #tabs-entidad-3

    =render :partial=>'movimientos/grilla',:locals=>{:@movimientos=>@entidad.movimientos.where(:entidad_id=>@entidad.id)}

