.mytabs
  %ul
    %li
      %a{:href=>"#tabs-entidad-1"}=@entidad.type
    %li
      %a{:href=>"#tabs-entidad-2"} Cuenta
    %li
      %a{:href=>"#tabs-entidad-3"} Pagos

  #tabs-entidad-1.ui-widget.ui-widget-content
    %h3.ui-widget-header
      =@entidad.type

    .action_bar
      -if can? :edit, @entidad
        = link_to 'Editar', edit_entidad_path(@entidad),:remote=>true,:width =>'200px'
    %br

    %p
      %b Nombre:
      = @entidad.try(:name)
    %p
      %b Calle:
      = @entidad.calle
      = @entidad.try(:localidad).try(:name)
    %p
      %b Cuit:
      = @entidad.cuit

    %p
      %b Telefono:
      = @entidad.telefono

    %p
      %b Legajo:
      = @entidad.legajo

    %p
      %b Email:
      = @entidad.email

    %p
      %b Web:
      = @entidad.web
    %br
    = render :partial => "layouts/version",:locals=>{:model=>@entidad,:controller=>:entidads}
  #tabs-entidad-2
    %h3 Cuenta corriente
    = render :partial => "cuentas/cuentas", :locals=>{:@cuentas=>@entidad.cuentas}
    %h3 Deuda total
    %table.togrid{:id=>"deuda_grid_#{Time.now}"}
      %tr
        %th Pesos
        %th Dolares
        %th Euros
      %tr
        - @entidad.deudas.each do |d|
          %td=d
  #tabs-entidad-3

    =render :partial=>'movimientos/grilla',:locals=>{:@movimientos=>@entidad.pagos}

