.action_bar

  =link_to "Resertear",new_entidad_path,:remote=>true
= semantic_form_for @entidad,:remote=>true do |form|
  = form.inputs do
    = error_message(@entidad)
    = form.input :name
    = form.input :cuit
    = form.input :calle
    = form.input :legajo
    = form.input :tentidad_id

    = render :partial => "layouts/labelgrid",:locals=>{:model=>:entidad, :data=>@entidad, :label=>'Localidad', :field=>:localidad_id,:f=>form,}

    = form.input :telefono,:as=>:text
    = form.input :web,:as=>:text
    = form.input :email,:as=>:text

    %input{:type=>"CHECKBOX",:name=>"another_one"} seguir creando
  = form.buttons

