= semantic_form_for @entidad do |form|
  = form.inputs do
    = form.inputs :name,:cuit,:calle,:legajo

    = render :partial => "layouts/labelgrid",:locals=>{:model=>:entidad, :data=>@entidad, :label=>'Localidad', :field=>"localidad"}

    = form.input :telefono,:as=>:text,:input_html => {:cols=>4, :rows => 3 }
    = form.input :web,:as=>:text,:input_html => {:cols=>4, :rows => 3 }
    = form.input :email,:as=>:text,:input_html => {:cols=>4, :rows => 3 }

  = form.buttons

