= semantic_form_for @cotizacion do |form|
  = form.inputs do
    = form.input :fecha, :label => 'Fecha'
    = form.input :compra, :label => 'Compra'
    = form.input :moneda, :label => 'Moneda'
    = form.input :venta, :label => 'Venta'
  = form.buttons
