= semantic_form_for @pasajero do |form|
  = form.inputs do
    = form.input :doc, :label => 'Doc'
    = form.input :name, :label => 'Name'
    = form.input :nacimiento, :label => 'Nacimiento'
    = form.input :tdoc, :label => 'Tdoc'
  = form.buttons
