.action_bar
  =link_to "Resetear",new_pasajero_path,:remote=>true

= semantic_form_for @pasajero,:remote=>true do |form|
  = form.inputs do
    = error_message(@pasajero)

    = form.input :name

    = form.input :tdoc

    = form.input :doc

    = form.input :nacimiento, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}

  = form.buttons

