=will_paginate @pasajeros

#pasajeros_grid
  %table#migrilla.togrid
    %tr
    
      %th Doc
    
      %th Name
    
      %th Nacimiento
    
      %th Tdoc_id
    

      
    - for pasajero in @pasajeros   
      %tr
        
        %td= pasajero.try(:doc) 
        
        %td= pasajero.try(:name) 
        
        %td= pasajero.try(:nacimiento) 
        
        %td= pasajero.try(:tdoc_id) 
        
        %td
          = link_to 'Show', pasajero,:remote=>true 
          = link_to 'Edit', edit_pasajero_path(pasajero),:remote=>true  
          = link_to 'Destroy', pasajero, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
