.ui-widget
  %h3.ui-widget-header pasajero  
  .left{:style=>'float:right'}
    .action_bar
      -if can? :edit, @pasajero 
        = link_to 'Editar', edit_pasajero_path(@pasajero),:remote=>true,:width =>'200px'
    %br
  
  
  %p
    %b Doc:
    = @pasajero.doc
  
  %p
    %b Name:
    = @pasajero.name
  
  %p
    %b Nacimiento:
    = @pasajero.nacimiento
  
  %p
    %b Tdoc_id:
    = @pasajero.tdoc_id
  
    = render :partial => "version"
