#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @pasajero.version
      %br
      %b Modificado:
      = @pasajero.updated_at
      %br
      %b Usuario:
      %br
      - if @pasajero.version > 1 
        = link_to "Version anterior - #{@pasajero.version - 1}",{:version=>(@pasajero.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@pasajero, :remote=>true 
