.action_bar
  =link_to "Resetear",new_programa_path,:remote=>true

= semantic_form_for @programa,:remote=>true do |form|
  = form.inputs do
    = error_message(@programa)
    = form.input :name

  %input{:type=>"CHECKBOX",:name=>"another_one"} seguir creando
  = form.buttons

