= form_for(@moneda,:remote=>true) do |f|
  .ui-widget.ui-widget-content
    = error_message(@moneda)
    .field
      = f.label :Name
      %br
      = f.text_field :name
    .field
      = f.label :Simbolo
      %br
      = f.text_field :simbolo


    .actions
      = f.submit

