= form_for(@pago,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @pago.errors.any? 
      #error_explanation
        %h2="#{pluralize(@pago.errors.count, 'error')} prohibited this pago from being saved:"
  
        %ul
          - @pago.errors.full_messages.each do |msg| 
            %li= msg 
    
    
    .field
      = f.label :Fecha
      %br
      = f.text_field :fecha
    
    .field
      = f.label :Monto
      %br
      = f.text_field :monto
    
    .field
      = f.label :Moneda_id
      %br
      = f.text_field :moneda_id
    
    
    .actions
      = f.submit 
