=flash[:notice]
= semantic_form_for(@pago) do |f|
  .ui-widget.ui-widget-content
    = error_message(@pago)
    = f.inputs do
      = f.input :entidad, :as => :radio, :collection => @pago.reserva.entidades
    = f.inputs :monto_fields, :for => @pago do |money_fields|
      = money_fields.input :monto  # , :httpclass => "money"
      = money_fields.collection_select :monto_currency, Money.monedas, :iso_code, :symbol
    = f.buttons
