= form_for(@pago,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @pago.errors.any? 
      #error_explanation
        %h2="#{pluralize(@pago.errors.count, 'error')} prohibited this pago from being saved:"
  
        %ul
          - @pago.errors.full_messages.each do |msg| 
            %li= msg 
    
    
    .field
      = f.label :Fecha
      %br
      = f.text_field :fecha,:class =>'datepicker',:size =>10
    .field
      = f.label :Reserva
      %br
      = f.text_field :reserva_id,:size=>10
    
    %table
      %tr
        =render :partial =>'montos/form',:locals=>{:f=>f}
        
    .field
      = f.label :Entidad
      %br
      = collection_select(:pago, :entidad_id, Entidad.all, :id, :name, :prompt => false)
    .field
      = f.label :Tipo_de_deposito
      %br
      = collection_select(:pago, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)                  
      =# f.text_field :numero,:size=>10
      %br
      = collection_select(:pago, :tpago_id, Tpago.all, :id, :name, :prompt => false)
    
    .actions
      = f.submit 
