= form_for(@pago, :remote => true) do |f|
  .ui-widget.ui-widget-content
    = error_message(@pago)

    =# render :partial => "movimientos/comunes", :locals => { :f => f }

    #reservas_search.qs_search
    #reservas{ :style => 'height:250px' }
    #entidad_form

    = f.hidden_field :entidad_id
    = f.text_field :reserva_id
    = f.text_field :saldo_id
    = f.hidden_field :tpago_id,:value=>2

    #saldos
    %br
    =# render :partial => 'montos/form', :locals => { :f => f }


    = f.label :Tipo_de_deposito
    %br
    = collection_select(:movimiento, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)

    = f.text_field :numero, :size => 10

    .actions
      = f.submit

