#pagos_grid
  %table.togrid{:id=>"pagos_#{Time.now}"}
    %tr
      %th Fecha
      %th Reserva
      %th Titular
      %th Operacion
      %th Entidad
      %th Monto

    -total=0
    - for pago in @pagos   
      %tr
        
        %td= pago.try(:fecha) 
        %td= pago.try(:reserva_id)
        %td= pago.reserva.pasajeros.first.name
        %td= pago.try(:tpago).try(:name)
        %td
          =pago.try(:entidad).try(:tentidad).try(:name)
          =pago.try(:entidad).try(:name)
        %td
          = pago.try(:monto).try(:moneda).try(:simbolo)
          = pago.try(:monto).try(:valor)  
          -total+=pago.try(:monto)         

    %tr
      %td
      %td
      %td
      %td
      %td

        %b Total
      %td
        %b=total

