.half.left
  %h3.ui-widget-header Listado
  =will_paginate @pagos

  #pagos_grid
    %table#migrilla.togrid
      %tr
      
        %th Fecha
      
        %th Monto
      
        %th Moneda_id
      
      %th Acciones
  
        
      - for pago in @pagos   
        %tr
          
          %td= pago.try(:fecha) 
          
          %td= pago.try(:monto) 
          
          %td= pago.try(:moneda_id) 
          
          %td
            = link_to 'Show', pago,:remote=>true 
            -if can? :edit, pago
              = link_to 'Edit', edit_pago_path(pago),:remote=>true  
            -if can? :destroy, pago
              = link_to 'Destroy', pago, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
