%div{:style=>'width:49%; float:left'}
  %h3.ui-widget-header Busqueda
  = form_for @search,  :html => {:method => :get,:id => 'pagos_search'} do |f|
     
    = f.label :fecha
    %br 
    = f.text_field :fecha_contains
    %br
     
    = f.label :monto
    %br 
    = f.text_field :monto_contains
    %br
     
    = f.label :moneda_id
    %br 
    = f.text_field :moneda_id_contains
    %br
    
    =f.label 'Baja'
    %br
    = f.check_box :hidden_eq
    %br
    = f.submit('Buscar') 
