#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @pago.version
      %br
      %b Modificado:
      = @pago.updated_at
      %br
      %b Usuario:
      %br
      - if @pago.version > 1 
        = link_to "Version anterior - #{@pago.version - 1}",{:version=>(@pago.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@pago, :remote=>true 
