= javascript_include_tag('jq-autocomplete/autocomplete') 
= form_for(@reserva,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @reserva.errors.any? 
      #error_explanation
        %h2="#{pluralize(@reserva.errors.count, 'error')} prohibited this reserva from being saved:"
  
        %ul
          - @reserva.errors.full_messages.each do |msg| 
            %li= msg 
    
    
    .field
      = f.label :Fecha
      %br
      = f.text_field :fecha,{:class =>'datepicker'}
      <script>$(function() {$( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });});</script>
    
    .field
      = f.label :Salida
      %br
      = f.text_field :salida,{:class =>'datepicker'}
    
    .field
      = f.label :Activa
      %br
      = f.text_field :activa
    
    .field
      = f.label :Reservado
      %br
      = f.check_box :reservado
    
    .field
      = f.label :Hotel
      %br
      = f.text_field :hotel
    
    .field
      = f.label :Periodo
      %br
      = f.text_field :periodo
    
    .field
      = f.label :Regimen
      %br
      = f.text_field :regimen
    
    .field
      = f.label :Obs
      %br
      = f.text_area :obs
    
    .field
      = f.label :Thabitacion_id
      %br
      = collection_select(:reserva, :thabitacion_id, Thabitacion.all, :id, :name, :prompt => false) 
    
    .field
      = f.label :Programa_id
      %br
      = collection_select(:reserva, :programa_id, Programa.all, :id, :name, :prompt => false) 
    
    .field
      = f.label :Operadora_id
      %br
      = collection_select(:reserva, :operadora_id, Operadora.all, :id, :name, :prompt => false) 
    
    .field
      = f.label :Agencia_id
      %br
      = collection_select(:reserva, :agencia_id, Agencia.all, :id, :name, :prompt => false)       
      %br
      - @reserva.pasajeros.each_with_index do |pasajero, index| 
        <input id="reserva_pasajero_ids_" type ="text_field" name ="reserva[pasajero_ids][]">
      %br
      = f.fields_for :pasajeros do |builder| 
        %table
          %tr
            %th  
              = builder.label :doc, "DNI"
            %th  
              = builder.label :name, "Pasajero" 
          %tr

            %td    
              = builder.text_field :doc
              <input id='pasajero_name' class='autocomplete' table='pasajero' value="" />    
            %td
              = builder.text_field :name
    
    .actions
      = f.submit 
