= javascript_include_tag('autocompletePersona')
.ui-widget.ui-widget-content
  = semantic_form_for @reserva,:remote=>true do |form|
    =form.inputs do
      %br
      %br
      = error_message(@reserva)
      = form.input :referencia, :input_html => {:rows => 3}
      %table.wide
        %tr
          %td= form.input :fecha, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
          %td= form.input :salida, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
        %tr
          %td= form.input :agencia,:collection => Entidad.agencia.all
          %td= form.input :reservado,:input_html => {:size=>25}

        %tr
          %td= form.input :operadora,:collection => Entidad.operadora.all
          %td= form.input :operado,:input_html => {:size=>25}

        %tr
          %td= form.input :programa
          %td= form.input :thabitacion
        %tr
          %td= form.input :regimen
          %td= form.input :periodo,:input_html => {:size=>10}
      = form.input :hotel
      = render :partial => "tarifa",:locals=>{:form=>form}
      = form.buttons

  %h3.ui-widget-header Alta de Pasajero
  #pasajero_form

    =render :partial=>'pasajeros/form'

