= javascript_include_tag('jq-autocomplete/autocompletePersona') 
= form_for(@reserva,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @reserva.errors.any? 
      #error_explanation
        %h2="#{pluralize(@reserva.errors.count, 'error')} prohibited this reserva from being saved:"
  
        %ul
          - @reserva.errors.full_messages.each do |msg| 
            %li= msg 
    
    
    = render :partial => "fields",:locals=>{:f=>f}

    .actions
      = f.submit 

#pasajero_form
  =render :partial=>'pasajeros/form'
