= javascript_include_tag('jq-autocomplete/autocompletePersona')

= semantic_form_for @reserva,:remote=>true do |form|
  = form.inputs do
    = form.input :fecha, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
    = form.input :salida, :as=>:string,:input_html => {:class => 'datepicker',:size=>10}
    = form.input :referencia, :input_html => {:rows => 3}
    = form.input :agencia
    = form.input :reservado
    = form.input :operadora
    = form.input :operado
    = form.input :hotel, :input_html => {:rows => 3}
    = form.input :programa
    = form.input :periodo
    = form.input :regimen
    = form.input :thabitacion

    = render :partial => "tarifa",:locals=>{:form=>form}

#pasajero_form
  =render :partial=>'pasajeros/form'

