= semantic_form_for @reserva do |form|
  = form.inputs do
    = form.input :fecha, :label => 'Fecha'
    = form.input :salida, :label => 'Salida'
    = form.input :activa, :label => 'Activa'
    = form.input :reservado, :label => 'Reservado'
    = form.input :hoteles, :label => 'Hoteles'
    = form.input :periodo, :label => 'Periodo'
    = form.input :regimen, :label => 'Regimen'
    = form.input :obs, :label => 'Obs'
    = form.input :thabitacion, :label => 'Thabitacion'
    = form.input :programa, :label => 'Programa'
    = form.input :operadora, :label => 'Operadora'
    = form.input :agencia, :label => 'Agencia'
    = form.input :operado, :label => 'Operado'
    = form.input :iva, :label => 'Iva'
    = form.input :impuesto, :label => 'Impuesto'
    = form.input :seguro, :label => 'Seguro'
    = form.input :monto, :label => 'Monto'
  = form.buttons
