.half.left
  %h3.ui-widget-header Listado
  =will_paginate @reservas

  #reservas_grid
    %table#migrilla.togrid
      %tr
      
        %th Fecha
      
        %th Salida
      
        %th Hotel
      
        %th Periodo
      
        %th Regimen
      
        %th Thabitacion_id
      
        %th Programa_id
      
        %th Operadora_id
      
        %th Agencia_id
      
      %th Acciones
  
        
      - for reserva in @reservas   
        %tr
          
          %td= reserva.try(:fecha) 
          
          %td= reserva.try(:salida) 
         
          
          %td= reserva.try(:hotel) 
          
          %td= reserva.try(:periodo) 
          
          %td= reserva.try(:regimen) 
          
          %td= reserva.try(:thabitacion_id) 
          
          %td= reserva.try(:programa_id) 
          
          %td= reserva.try(:operadora_id) 
          
          %td= reserva.try(:agencia_id) 
          
          %td
            = link_to 'Show', reserva,:remote=>true 
            -if can? :edit, reserva
              = link_to 'Edit', edit_reserva_path(reserva),:remote=>true  
            -if can? :destroy, reserva
              = link_to 'Destroy', reserva, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
