%p.notice=flash[:notice]
.mytabs
  %ul
    %li
      %a{:href=>"#tabs-reserva-1"} Reserva
    %li
      %a{:href=>"#tabs-reserva-2"} Agencia
    %li
      %a{:href=>"#tabs-reserva-3"} Operadora
    %li
      %a{:href=>"#tabs-reserva-4"} Tarifa
    %li
      %a{:href=>"#tabs-reserva-5"} Pasajeros
    %li
      %a{:href=>"#tabs-reserva-6"} Pagos

  #tabs-reserva-1.ui-widget.ui-widget-content
    =action_bar(@reserva)
    -if @reserva.liquidada?
      .green La Reserva está liquidada
    -else
      .red La Reserva NO está liquidada

    = link_to "Crear pase", new_pase_path(reserva: @reserva)

    =table_form(@reserva,
      [{:value =>:id},
      {:value =>:referencia},
      {:value=>:salida},
      {:value=>:reservado},
      {:value=>:hotel},
      {:value=>:periodo},
      {:name=>"Habitacion",:string=> @reserva.thabitacion.try(:name)},
      {:value=>:habitaciones},
      {:name=>"Programa",:string=> @reserva.programa.try(:name)},
      {:name=>"Agecia",:string=> @reserva.agency.try(:name)},
      {:name=>"Operadora",:string=> @reserva.operadora.try(:name)},
      {:name=>"Voucher",:string=> @reserva.voucher},
      ],:class=>"wide")

    %p
      %b Observaciones:
      = @reserva.obs
    %p
      = render :partial => "layouts/version",:locals=>{:model=>@reserva}

  #tabs-reserva-2.ui-widget.ui-widget-content
    .div{:id=>"entidad_form#{@reserva.agency.id}"}
      = render :partial => "entidads/entidad_info",:locals=>{:@entidad=>@reserva.agency}
  #tabs-reserva-3.ui-widget.ui-widget-content
    .div{:id=>"entidad_form#{@reserva.operadora.id}"}
      = render :partial => "entidads/entidad_info",:locals=>{:@entidad=>@reserva.operadora}

  #tabs-reserva-4.ui-widget.ui-widget-content
    %p
      =table_form(@reserva,
        [{:value => :tarifa},
        {:value => :iva},
        {:value => :impuesto},
        {:value => :aereo},
        {:value => :seguro},
        {:value => :pago_minimo},
        {:value => :comision},
        {:name=>"Monto Total",:string => @reserva.total.format},
        {:name=>"Deuda de la agencia",:string => "#{@reserva.moneda} #{@reserva.agencia_deuda}"},
        {:name=>"Deuda de la operadora",:string => "#{@reserva.moneda} #{@reserva.operadora_deuda}"},
        ],:class=>"wide")

  #tabs-reserva-5.ui-widget.ui-widget-content
    =render :partial=>'pasajeros/grilla',:locals=>{:@pasajeros=>@reserva.pasajeros}

  #tabs-reserva-6.ui-widget.ui-widget-content
    %h2="Pagos de la agencia #{@reserva.try(:agency).try(:name)}"
    = render :partial => "reservas/pagos",
      :locals => { :pagos=>@reserva.pagos.where(:entidad_id=>@reserva.agency_id), :type => "Agencia"}
    %h2="Pagos a la operadora #{@reserva.try(:operadora).try(:name)}"
    = render :partial => "reservas/pagos",
      :locals => { :pagos=>@reserva.pagos.where(:entidad_id=>@reserva.operadora_id), :type => "Operadora"}

