.half.left
  =will_paginate @reservas

  #reservas_grid
    %table#migrilla.togrid
      %tr
        %th ID
        %th Titular
      
        %th Salida
      
        %th Hotel
      
        %th Periodo
      
      %th Acciones
  
        
      - for reserva in @reservas   
        %tr
          %td= reserva.try(:id) 
          %td=# reserva.try(:pasajero).try(:name)
          
          %td= reserva.try(:salida) 
          
          %td= reserva.try(:hotel) 
          
          %td= reserva.try(:periodo) 
                    
          %td
            = link_to 'Show', reserva,:remote=>true 
            -if can? :edit, reserva
              = link_to 'Edit', edit_reserva_path(reserva),:remote=>true  
            -if can? :destroy, reserva
              = link_to 'Destroy', reserva, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
