=will_paginate @reservas
#reservas_grid
  %table.togrid{:id=>"reservas_#{Time.now}"}
    %tr
      %th ID
      %th Titular
      %th Referencia
      %th Salida
      %th Deuda Agencia
      %th Deuda Operadora
      %th Acciones

    - for reserva in @reservas
      %tr
        %td= reserva.id
        %td= reserva.titular
        %td= reserva.referencia
        %td= reserva.salida
        %td= reserva.agencia_deuda.format
        %td= reserva.operadora_deuda.format
        %td= link_to("Mostrar", reserva_path(reserva), :remote => true) + " " + link_to("Editar", edit_reserva_path(reserva), :remote => true) + " " + link_to("Pagar", new_reserva_deposito_path(reserva))

.action_bar
  =link_to "imprimir",{:search=>params[:search],:format=>'pdf'}

