.mytabs
  %ul
    %li
      %a{:href=>"#tabs-reserva-1"} Reserva
    %li
      %a{:href=>"#tabs-reserva-2"}=@reserva.try(:agencia).try(:name)
    %li
      %a{:href=>"#tabs-reserva-3"}=@reserva.try(:operadora).try(:name)
    %li
      %a{:href=>"#tabs-reserva-4"} Tarifa
    %li
      %a{:href=>"#tabs-reserva-5"} Pasajeros
    %li
      %a{:href=>"#tabs-reserva-6"} Pagos

  #tabs-reserva-1.ui-widget.ui-widget-content
    .action_bar
      -if can? :edit, @reserva
        = link_to 'Editar', edit_reserva_path(@reserva),:remote=>true,:width =>'200px'

    -if @reserva.activa?
      .green La Reserva está activa
    -else
      .red La Reserva NO está activa
    %table.wide
      %tr
        %td
          %b Fecha:
        %td= @reserva.fecha

        %td
          %b Salida:
        %td= @reserva.salida
      %tr
        %td
          %b Reservado:
        %td= @reserva.reservado
      %tr
        %td
          %b Hotel:
        %td= @reserva.hotel
      %tr
        %td
          %b Periodo:
        %td= @reserva.periodo
      %tr
        %td
          %b Regimen:
        %td= @reserva.regimen
      %tr
        %td
          %b Tipo de habitacion:
        %td= @reserva.thabitacion.try(:name)

    %p
      %b Programa:
      =@reserva.programa.try(:name)
    %p
      %b Operadora:
      =@reserva.operadora.try(:name)
    %p
      %b Agencia:
      =@reserva.agencia.try(:name)
    %p
      %b Obs:
      = @reserva.obs
    %p
      = render :partial => "layouts/version",:locals=>{:model=>@reserva,:controller=>:reservas}

  #tabs-reserva-2.ui-widget.ui-widget-content
    .div{:id=>"entidad_form#{@reserva.agencia.id}"}
      = render :partial => "entidads/entidad",:locals=>{:@entidad=>@reserva.agencia}
  #tabs-reserva-3.ui-widget.ui-widget-content
    .div{:id=>"entidad_form#{@reserva.operadora.id}"}
      = render :partial => "entidads/entidad",:locals=>{:@entidad=>@reserva.operadora}

  #tabs-reserva-4.ui-widget.ui-widget-content
    %p
      %table
        %tr
          %td
            %b IVA
          %td=@reserva.iva
        %tr
          %td
            %b Impuesto
          %td=@reserva.impuesto
        %tr
          %td
            %b Seguro
          %td=@reserva.seguro
        %tr
          %td
            %b Monto total
          %td
            =@reserva.try(:monto).try(:moneda).try(:simbolo)
            =@reserva.try(:monto).try(:valor)
        %tr
          %td
            %b Deuda de la agencia
          %td=#@reserva.agencia_deuda
        %tr
          %td
            %b Deuda de la operadora
          %td=#@reserva.operadora_deuda

  #tabs-reserva-5.ui-widget.ui-widget-content
    =render :partial=>'pasajeros/grilla',:locals=>{:@pasajeros=>@reserva.pasajeros}

  #tabs-reserva-6.ui-widget.ui-widget-content
    %h2="Pagos de agencia #{@reserva.try(:agencia).try(:name)}"
    =render :partial=>'movimientos/grilla',:locals=>{:@movimientos=>@reserva.movimientos.pagos.where(:entidad_id=>@reserva.agencia_id)}
    %h2="Pagos de operadora #{@reserva.try(:operadora).try(:name)}"
    =render :partial=>'movimientos/grilla',:locals=>{:@movimientos=>@reserva.movimientos.pagos.where(:entidad_id=>@reserva.operadora_id)}

