=will_paginate @reservas
#reservas_grid
  = table_for(@reservas) do |t|
    = t.data do
      - t.cell :id
      - t.cell :titular
      - t.cell :referencia
      - t.cell :salida
      - t.cell :agencia_deuda_format
      - t.cell :operadora_deuda_format
      - t.cell :acciones, :heading => "Acciones", :cell_html => {:class => "acciones"} do |reserva|
        - cell_content = "<ul>\n  "
        - cell_content += "<li>#{link_to 'Detalles', reservas}</li>\n"
        - cell_content += "<li>#{link_to 'Editar', edit_reserva_path(reserva)}</li>\n"
        - cell_content += "<li>#{link_to 'Ver pagos', reserva_pagos_path(reserva)}</li>\n"
        - cell_content += "<li>#{link_to 'Generar pago', new_reserva_pago_path(reserva)}</li>\n"
        - cell_content += "</ul>"
        - raw cell_content

  =#grilla(["ID", "Titular", "Referencia", "Salida", "Deuda Agencias", "Deuda Operadora", "Acciones"], @reservas, [:id, :titular, :referencia, :salida, :agencia_deuda_format, :operadora_deuda_format], {:id=>"reserva_grid", :class=>"togrid"})
.action_bar
  =link_to "imprimir",{:search=>params[:search],:format=>'pdf'}

