%h2 Tarifa

= form.fields_for :total_fields, @reserva do |money_fields|
  = money_fields.text_field :total, :class => "money"
  = money_fields.collection_select :total_currency, Money.monedas, :iso_code, :symbol
%br
= form.input :tarifa,:input_html => {:size=>8}
= form.input :iva,:input_html => {:size=>8}
= form.input :impuesto,:input_html => {:size=>8}
= form.input :aereo,:input_html => {:size=>8}
= form.input :seguro,:input_html => {:size=>8}
= form.input :pago_minimo,:input_html => {:size=>8}



= form.input :obs

= render :partial => "pasajeros"

