%h2 Tarifa

=render :partial =>'montos/form',:locals=>{:f=>form}
%br
%br
= form.input :tarifa,:input_html => {:size=>8}
= form.input :iva,:input_html => {:size=>8}
= form.input :impuesto,:input_html => {:size=>8}
= form.input :aereo,:input_html => {:size=>8}
= form.input :seguro,:input_html => {:size=>8}
= form.input :pago_minimo,:input_html => {:size=>8}



= form.input :obs

= render :partial => "pasajeros"

