.action_bar
  =link_to "Resetear", new_cotizacion_path, :remote=>true

= semantic_form_for @cotizacion, :remote=>true do |form|
  = form.inputs do
    = error_message(@cotizacion)
    = form.input :fecha, :as=>:string, :input_html=>{:class=>'datepicker', :size=>10}
    Moneda Compra
    %br
    = form.collection_select :moneda_compra, Money.monedas, :iso_code, :symbol
    %br
    Monda Venta
    %br
    = form.collection_select :moneda_venta, Money.monedas, :iso_code, :symbol

    = form.input :compra
  = form.buttons

