= render :partial => "search"
.half.left
  %h3.ui-widget-header Listado
  =will_paginate @tarifas

  #tarifas_grid
    %table#migrilla.togrid
      %tr
      
        %th Iva
      
        %th Impuesto
      
        %th Monto
      
        %th Comision
      
        %th Efectivo
      
        %th Anticipo
      
        %th Comision
      
        %th Obs
      
        %th Reserva_id
      
      %th Acciones
  
        
      - for tarifa in @tarifas   
        %tr
          
          %td= tarifa.try(:iva) 
          
          %td= tarifa.try(:impuesto) 
          
          %td= tarifa.try(:monto) 
          
          %td= tarifa.try(:comision) 
          
          %td= tarifa.try(:efectivo) 
          
          %td= tarifa.try(:anticipo) 
          
          %td= tarifa.try(:comision) 
          
          %td= tarifa.try(:obs) 
          
          %td= tarifa.try(:reserva_id) 
          
          %td
            = link_to 'Show', tarifa,:remote=>true 
            = link_to 'Edit', edit_tarifa_path(tarifa),:remote=>true  
            = link_to 'Destroy', tarifa, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
