#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @tarifa.version
      %br
      %b Modificado:
      = @tarifa.updated_at
      %br
      %b Usuario:
      %br
      - if @tarifa.version > 1 
        = link_to "Version anterior - #{@tarifa.version - 1}",{:version=>(@tarifa.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@tarifa, :remote=>true 
