= form_for(@tpago,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @tpago.errors.any? 
      #error_explanation
        %h2="#{pluralize(@tpago.errors.count, 'error')} prohibited this tpago from being saved:"
  
        %ul
          - @tpago.errors.full_messages.each do |msg| 
            %li= msg 
    
    
    .field
      = f.label :Name
      %br
      = f.text_field :name
    
    
    .actions
      = f.submit 
