%table
  %tr
    %td
      = direccion.label :Nombre 
    %td
      = direccion.text_field :name
  %tr
    %td
      = direccion.label :Cuit      
    %td
      = direccion.text_field :cuit
  %tr      
    %td
      = direccion.label :Direccion
    %td
      = direccion.text_field :calle
  %tr
    %td
      = direccion.label :Localidad_id
    %td
      
      = direccion.text_field :localidad_id, :size =>6
      = javascript_include_tag('jq-autocomplete/autocomplete')
      %input#localidad_name.autocomplete{:table => 'localidad',:AUTOCOMPLETE =>"OFF",
        :value=> if action_name == "edit";@direccion.try(:localidad).try(:name);end}
  %tr
    %td
      = direccion.label :Legajo
    %td
      = direccion.text_field :legajo   
      
.field      
  = direccion.label :Telefono
  %br
  = direccion.text_area :telefono,:rows=>3
 
.field
  = direccion.label :Email
  %br
  = direccion.text_area :email,:rows=>3

.field
  = direccion.label :Web
  %br
  = direccion.text_area :web,:rows=>3
