%p
  %b Calle:
  = dir.try(:calle)
%p
  %b
  = dir.try(:localidad).try(:name)
%p
  %b Cuit:
  = dir.try(:cuit)

%p
  %b Telefono:
  = dir.try(:telefono)

%p
  %b Legajo:
  = dir.try(:legajo)

%p
  %b Email:
  = dir.try(:email)

%p
  %b Web:
  = dir.try(:web)


