%p
  %b Calle:
  = dir.calle

%p
  %b Cuit:
  = dir.cuit

%p
  %b Telefono:
  = dir.telefono

%p
  %b Legajo:
  = dir.legajo

%p
  %b Email:
  = dir.email

%p
  %b Web:
  = dir.web

%p
  %b Localidad_id:
  = dir.localidad_id  
