.ui-widget.ui-widget-content
  %h3.ui-widget-header direccion  
  .left{:style=>'float:right'}
    .action_bar
      = link_to 'Editar', edit_direccion_path(@direccion),:remote=>true,:width =>'200px'

  %p
    %b Nombre:
    = @direccion.calle
    = @direccion.try(:name) 
  %p
    %b Calle:
    = @direccion.calle
    = @direccion.localidad.try(:name)
  %p
    %b Cuit:
    = @direccion.cuit
  
  %p
    %b Telefono:
    = @direccion.telefono
  
  %p
    %b Legajo:
    = @direccion.legajo
  
  %p
    %b Email:
    = @direccion.email
  
  %p
    %b Web:
    = @direccion.web
  
  = render :partial => "layouts/version",:locals=>{:model=>@direccion,:controller=>:direccions}
