.half.left
  %h3.ui-widget-header Busqueda
  = form_for @search,  :html => {:method => :get,:class => 'search'} do |f|
     
    = f.label :calle
    %br 
    = f.text_field :calle_contains
    %br 
    = f.label :cuit
    %br 
    = f.text_field :cuit_eq
    %br 
    = f.label :telefono
    %br 
    = f.text_field :telefono_eq
    %br 
    = f.label :legajo
    %br 
    = f.text_field :legajo_eq
    %br 
    = f.label :email
    %br 
    = f.text_field :email_eq
    %br 
    = f.label :web
    %br 
    = f.text_field :web_eq
    %br 
    = f.label :localidad_id
    %br 
    = f.text_field :localidad_id_eq
    %br
    =f.label 'Baja'
    %br
    = f.check_box :hidden_eq
    %br
    = f.submit('Buscar') 
