%div{:style=>'width:49%; float:left'}
  %h3.ui-widget-header Busqueda
  = form_for @search,  :html => {:method => :get,:id => 'direccions_search'} do |f|
     
    = f.label :direccion
    %br 
    = f.text_field :direccion_contains
    %br
     
    = f.label :cuit
    %br 
    = f.text_field :cuit_contains
    %br
     
    = f.label :telefono
    %br 
    = f.text_field :telefono_contains
    %br
     
    = f.label :legajo
    %br 
    = f.text_field :legajo_contains
    %br
     
    = f.label :email
    %br 
    = f.text_field :email_contains
    %br
     
    = f.label :web
    %br 
    = f.text_field :web_contains
    %br
     
    = f.label :localidad_id
    %br 
    = f.text_field :localidad_id_contains
    %br
    
    =f.label 'Baja'
    %br
    = f.check_box :hidden_eq
    %br
    = f.submit('Buscar') 
