.ui-widget
  .ui-widget-content.version
    %table.wide
      %tr
        %td
          %b Version:
          = direccion.version
        %td
          %b Modificado
          = direccion.updated_at
        %td
          %b=direccion.try(:user).try(:username)
        %td
          - if direccion.version > 1 
            = link_to "Version anterior - #{direccion.version - 1}",{:controller=>:direccions,
              :action=>'show',:id=>direccion.id,
              :version=>(direccion.version - 1)},:remote =>true
           
          - if params[:version]
            = link_to "Version Actual",direccion, :remote=>true 
