.half.left
  %h3.ui-widget-header Listado
  =will_paginate @agencias

  #agencias_grid
    %table#migrilla.togrid
      %tr
        %th ID
        %th Name
        %th Direccion
        %th CUIT
        %th Telefono
      
      %th Acciones
  
        
      - for agencia in @agencias   
        %tr
          %td= agencia.id
          %td= agencia.try(:direccion).try(:name) 
          %td= agencia.try(:direccion).try(:calle)
          %td= agencia.try(:direccion).try(:cuit)
          %td= agencia.try(:direccion).try(:telefono)
          %td
            = link_to 'Show', agencia,:remote=>true 
            - if can? :edit, agencia
              = link_to 'Edit', edit_agencia_path(agencia),:remote=>true   
            -if can? :destroy, agencia
              = link_to 'Destroy', agencia, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
