.half.left
  %h3.ui-widget-header Busqueda
  = form_for @search,  :html => {:method => :get,:class => 'search'} do |f|
    = f.label "ID-CUIT" 
    %br
    = f.text_field :id_or_direccion_cuit_eq
    %br
    = f.label :name
    %br 
    = f.text_field :name_contains
    %br 
    =f.label 'Baja'
    %br
    = f.check_box :hidden_eq
    %br
    = f.submit('Buscar') 
