#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @agencia.version
      %br
      %b Modificado:
      = @agencia.updated_at
      %br
      %b Usuario:
      %br
      - if @agencia.version > 1 
        = link_to "Version anterior - #{@agencia.version - 1}",{:version=>(@agencia.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@agencia, :remote=>true 
