.ui-widget.ui-widget-content
  %h3.ui-widget-header deposito  
  .left{:style=>'float:right'}
    .action_bar
      -if can? :edit, @deposito 
        = link_to 'Editar', edit_deposito_path(@deposito),:remote=>true,:width =>'200px'
    %br
  
  
  %p
    %b Fecha:
    = @deposito.fecha
  
  %p
    %b Monto:
    = @deposito.monto
  
  %p
    %b Moneda_id:
    = @deposito.moneda_id
  
  %p
    %b Tdeposito_id:
    = @deposito.tdeposito_id
  
  %p
    %b Direccion_id:
    = @deposito.direccion_id
  
    = render :partial => "layouts/version",:locals=>{:model=>@deposito,:controller=>:depositos}
