= form_for(@deposito,:remote=>true) do |f|
  =flash[:notice]
  .ui-widget.ui-widget-content
    = error_message(@deposito)

    = render :partial => "movimientos/comunes",:locals=>{:f=>f}
    = f.collection_select(:entidad_id, Entidad.all, :id, :name, :prompt => false)
    %br
    = f.collection_select(:operadora_id, Operadora.all, :id, :name,:prompt=>true)
    %table
      %tr
        = f.fields_for :monto_fields, @deposito do |money_fields|
          = money_fields.text_field :monto, :class => "money"
          = money_fields.collection_select :monto_currency, Money.monedas, :iso_code, :symbol

    = f.label :Tipo_de_deposito
    %br
    = collection_select(:deposito, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)

    = f.text_field :numero,:size=>10

    .actions
      = f.submit

