
%h1.ui-widget-header Editar Pago

.ui-widget
  #tabs-movimientos-1
    = semantic_form_for [@reserva, @deposito] do |f|
      = f.semantic_errors
      = f.inputs do
        = f.input :fecha, :as => :string, :wrapper_html => {:class => "datepicker"}
        = f.input :tdeposito
        = f.input :numero
        = f.input :observaciones
      = f.semantic_fields_for :monto_fields, @deposito do |money_fields|
        = money_fields.input :monto, :wrapper_html => {:class => "inline money"}
        = money_fields.input :monto_currency, :as =>:select, :collection => Money.monedas, :wrapper_html => {:class => "inline"}

      = f.buttons
