.action_bar
  =link_to "Resetear",new_<%= file_name %>_path,:remote=>true

= semantic_form_for @<%= file_name %>,:remote=>true do |form|
  = form.inputs do
    = error_message(@<%= file_name %>)
  <% for attribute in @model_attributes %>
    = form.input :<%= attribute.name %>
  <% end %>
  %input{:type=>"CHECKBOX",:name=>"another_one"} seguir creando
  = form.buttons

