%p.notice=flash[:notice]
= semantic_form_for(@directo, :remote => true) do |f|
  .ui-widget.ui-widget-content
    = error_message(@pago)
    = error_message(@deposito)
    = error_message(@cambio)

    = render :partial => "movimientos/comunes", :locals => { :f => f }

    #entidad_form

    = f.hidden_field :entidad_id
    = f.hidden_field :reserva_id
    = f.hidden_field :cuenta_id


    #cuentas
    = f.label :Tipo_de_deposito
    %br
    = collection_select(:directo, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)

    = f.text_field :numero,:size=>10

    %br
      = f.fields_for :monto_fields, @directo do |money_fields|
        = money_fields.text_field :monto, :class => "money"
        = money_fields.collection_select :monto_currency, Money.monedas, :iso_code, :symbol
    %br
    %input{:type=>"CHECKBOX",:name=>"operadora_paid"} Cargar pago a la operadora?
    %br
    Observaciones:
    %br
    =f.text_area :observaciones,:rows=>2
    %br
    .actions
      = f.submit

