= semantic_form_for @entidad do |form|
  = form.inputs do
    = form.input :calle, :label => 'Calle'
    = form.input :cuit, :label => 'Cuit'
    = form.input :telefono, :label => 'Telefono'
    = form.input :legajo, :label => 'Legajo'
    = form.input :email, :label => 'Email'
    = form.input :web, :label => 'Web'
    = form.input :localidad, :label => 'Localidad'
    = form.input :name, :label => 'Name'
    = form.input :tentidad, :label => 'Tentidad'
  = form.buttons
