= form_for(@movimiento,:remote=>true) do |f|
  .ui-widget.ui-widget-content
    - if @movimiento.errors.any?
      #error_explanation
        %h2="#{pluralize(@movimiento.errors.count, 'error')} prohibited this movimiento from being saved:"

        %ul
          - @movimiento.errors.full_messages.each do |msg|
            %li= msg

    = render :partial => "movimientos/comunes",:locals=>{:f=>f}
    = f.collection_select(:entidad_id, Entidad.all, :id, :name, :prompt => false)

    =f.hidden_field :tpago_id,:value=>1
    %table
      %tr
        =render :partial =>'montos/form',:locals=>{:f=>f}


    = f.label :Tipo_de_deposito
    %br
    = collection_select(:movimiento, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)

    = f.text_field :numero,:size=>10

    .actions
      = f.submit

