= semantic_form_for @movimiento do |form|
  = form.inputs do
    = form.input :reserva, :label => 'Reserva'
    = form.input :entidad, :label => 'Entidad'
    = form.input :tpago, :label => 'Tpago'
    = form.input :tdeposito, :label => 'Tdeposito'
    = form.input :fecha, :label => 'Fecha'
    = form.input :monto, :label => 'Monto'
  = form.buttons
