#movimientos_grid
  %table.togrid{:id=>"movimientos_#{Time.now}"}
    %tr
      %th Fecha
      %th Reserva
      %th Titular
      %th Operacion
      %th Entidad
      %th Monto

    - total = Array.new(3,0)

    - for movimiento in @movimientos
      %tr

        %td= movimiento.try(:fecha)
        %td= movimiento.try(:reserva_id)
        %td= movimiento.try(:reserva).try(:pasajeros).try(:first).try(:name)
        %td= movimiento.type
        %td
          =movimiento.try(:entidad).type
          =movimiento.try(:entidad).try(:name)
        %td
          = movimiento.try(:monto).try(:moneda).try(:simbolo)
          = movimiento.try(:monto).try(:valor)
          -if movimiento.try(:monto).try(:moneda_id)
            -total[movimiento.try(:monto).try(:moneda_id)-1] += movimiento.try(:monto).try(:valor)
  %table.wide
    %tr
      %td
        Pesos $
        %b
          =total[0]
      %td
        Dolares u$s
        %b
          =total[1]
      %td
        Euros €
        %b
          =total[2]

