#movimientos_grid
  %table.togrid{:id=>"movimientos_#{Time.now}"}
    %tr
      %th Fecha
      %th Reserva
      %th Titular
      %th Operacion
      %th Entidad
      %th Monto

    - for movimiento in @movimientos
      %tr

        %td= movimiento.try(:fecha)
        %td= movimiento.try(:reserva_id)
        %td= movimiento.try(:reserva).try(:pasajeros).try(:first).try(:name)
        %td= movimiento.type
        %td
          =movimiento.try(:entidad).type
          =movimiento.try(:entidad).try(:name)
        %td
          = movimiento.monto.to_money.format
  %table.wide
    %tr
      %td
        Pesos $
        %b
          =@total["ARS"]
      %td
        Dolares u$s
        %b
          =@total["USD"]
      %td
        Euros €
        %b
          =@total["EUR"]

