%p.notice=flash[:notice]
#movimientos_grid
  %table.togrid{:id=>"movimientos_#{Time.now}"}
    %tr
      %th Fecha
      %th Reserva
      %th Titular
      %th Entidad
      %th Observaciones
      %th Monto
      -if can? :destroy, @movimientos.first
        %th Acciones

    - for movimiento in @movimientos
      %tr

        %td= movimiento.try(:fecha)
        %td= movimiento.try(:reserva_id)
        %td= movimiento.try(:reserva).try(:pasajeros).try(:first).try(:name)
        %td
          =movimiento.try(:entidad).type
          =movimiento.try(:entidad).try(:name)
        %td
          = movimiento.observaciones
        %td
          = movimiento.monto.to_money.format

        -#if can? :edit, movimiento


        %td
          = link_to "Mostrar", movimiento_path(movimiento), :remote => true
          -if can? :edit ,movimiento
            =link_to "Editar",{:controller=> "movimientos", :action=>:edit,:id=>movimiento.id}, :remote=>true
          -if can? :destroy, @movimientos.first and movimiento.movimientos.count<=0
            = link_to 'Eliminar', {:controller=> "movimientos", :action=>:destroy, :id=>movimiento.id}, :confirm => 'Está seguro? (esta acción no se puede deshacer)', :method=>:delete, :remote=>true

  %table.wide
    %tr
      %td
        Pesos $
        %b
          =@total["ARS"]
      %td
        Dolares u$s
        %b
          =@total["USD"]
      %td
        Euros €
        %b
          =@total["EUR"]
  .action_bar
    =link_to "imprimir",{:controller=>"movimientos",:search=>params[:search],:format=>'pdf'}
