= form_for(@movimiento,:remote=>true) do |f| 
  .ui-widget.ui-widget-content
    - if @movimiento.errors.any? 
      #error_explanation
        %h2="#{pluralize(@movimiento.errors.count, 'error')} prohibited this movimiento from being saved:"
  
        %ul
          - @movimiento.errors.full_messages.each do |msg| 
            %li= msg 

    = render :partial => "movimientos/comunes",:locals=>{:f=>f}
    -#.search
    -#  = render :partial => "reservas/qsearch"
    -##reservas_form{:style=>'height:350px'}
    -#  =render :partial =>'reservas/reservas'
    
    #reservas_search.qs_search
    #reservas{:style=>'height:350px'}
      =link_to 'nuevo',{:controller=>'reservas',:action=>'index',:qs=>true},:remote=>true
    .field
      = f.label :Reserva
      %br
      = f.text_field :reserva_id,:size=>10    
    
    =f.hidden_field :tpago_id,:value=>2
    %table
      %tr
        =render :partial =>'montos/form',:locals=>{:f=>f}
        

    = f.label :Tipo_de_deposito
    %br
    = collection_select(:movimiento, :tdeposito_id, Tdeposito.all, :id, :name, :prompt => false)
    
    = f.text_field :numero,:size=>10
    
    .actions
      = f.submit 
      
