%h3.ui-widget-header Busqueda
= form_for @search,  :html => {:method => :get,:class => 'search'} do |f|
   
  = f.label :fecha
  %br 
  = f.text_field :fecha_eq
  %br
  = f.label :tipo
  %br
  = f.text_field :type_sw
  %br 
  =f.label 'Baja'
  %br
  = f.check_box :hidden_eq
  %br
  = f.submit('Buscar') 
