#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @movimiento.version
      %br
      %b Modificado:
      = @movimiento.updated_at
      %br
      %b Usuario:
      %br
      - if @movimiento.version > 1 
        = link_to "Version anterior - #{@movimiento.version - 1}",{:version=>(@movimiento.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@movimiento, :remote=>true 
