.ui-widget
  %h1.ui-widget-header Movimientos

  .action_bar
    = link_to 'Imprimir', {:search=>params[:search],:format=>'pdf'}

  .mytabs
    %ul
      %li
        %a{:href=>"#tabs-movimientos-1"} Movimientos
      -if can? :create, Deposito
        %li
          %a#deposito_new{:href=>"#tabs-movimientos-2"} Deposito
      -if can? :create, Pago
        %li
          %a#pago_new{:href=>"#tabs-movimientos-3"} Pago
      -if can? :create, Cambio
        %li
          %a#cambio_new{:href=>"#tabs-movimientos-4"} Cambio
      -if can? :create, Movimiento
        %li
          %a#directo_new{:href=>"#tabs-movimientos-5"} Directo


    #tabs-movimientos-1
      = render :partial => "search"
      #movimientos
        =render 'movimientos'

    #tabs-movimientos-2
      #deposito_form

    #tabs-movimientos-3
      #pago_form

    #tabs-movimientos-4
      #cambio_form

    #tabs-movimientos-5
      -if can? :create, Movimiento
        = semantic_form_for @reservas_search, :remote => true do |form|
          =form.inputs do
            =form.input :agency_id_or_operadora_id_eq, :collection => Entidad.all
            =form.input :referencia_sw
            =form.input :pasajeros_name_contains
            =form.input :liquido_agencia_or_liquido_operadora_eq, :as =>:boolean,:label=>"Mostrar reservas liquidadas"
            = form.buttons do
              = form.commit_button :label=>"Buscar"
        #reservas
          =render 'reservas/reservas'

        #directo_form

