=will_paginate @operadoras

#operadoras_grid
  %table#migrilla.togrid
    %tr
    
      %th Name
    
      %th Direccion_id
    

      
    - for operadora in @operadoras   
      %tr
        
        %td= operadora.try(:name) 
        
        %td= operadora.try(:direccion_id) 
        
        %td
          = link_to 'Show', operadora,:remote=>true 
          = link_to 'Edit', edit_operadora_path(operadora),:remote=>true  
          = link_to 'Destroy', operadora, :confirm => 'Are you sure?', :method => :delete,:remote=>true  
