#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @operadora.version
      %br
      %b Modificado:
      = @operadora.updated_at
      %br
      %b Usuario:
      %br
      - if @operadora.version > 1 
        = link_to "Version anterior - #{@operadora.version - 1}",{:version=>(@operadora.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@operadora, :remote=>true 
