<h1>Nuevo Pase</h1>
<%= form_for @pase do |f| %>

  <div id="datos_origen">
    <p>
    <label>De</label>
    <input disabled value="<%= @pase.source %>">
    <%= f.hidden_field :source_id %>
    </p>

    <p>
    <%= f.label :date %>
    <%= f.date_select :date, default: Date.today, end_year: Date.today.year %>
    </p>

    <p>
    <%= f.label :debit %>
    <%= f.number_field :debit, step: '0.01', min: 0, max: @pase.debit, required: true, "data-currency": @pase.source.total_currency %>
    <span id="origen_currency"><%= @pase.source.total_currency %></span>
    </p>

    <fieldset>
      <legend>Cuentas afectadas</legend>
      <label>
        <%= f.radio_button(:entities, "agencia") %>
        Agencia
      </label>
      <label>
        <%= f.radio_button(:entities, "operadora") %>
        Operadora
      </label>
      <label>
        <%= f.radio_button(:entities, "ambas", checked: true) %>
        Ambas
      </label>
    </fieldset>
  </div>

  <div id="datos_destino">
    <div class="destinos">
    </div>

    <label>Agregar reserva destino
      <select id="nuevo_destino">
        <option value="" selected disabled>Nueva reserva destino</option>
        <%= options_for_select @pase.posibles_reservas %>
      </select>
    </label>

    <div class="info">
      <p>Saldo restante: <span id="remaining"><%= @pase.debit %></span>
      <span><%= @pase.source.total_currency %><span>
      </p>
      <label>Cambio ARS a USD: <input type="number" id="cambio_dolar" step="0.0001"></label>
      <label>Cambio ARS a EUR: <input type="number" id="cambio_euro" step="0.0001"></label>
    </div>

    <p>
    <%= f.submit %>
    </p>
  </div>
<% end %>

<template id="destino">
  <fieldset>
    <legend>Pase a {{ name }}</legend>
    <label for="pase_destinations_{{ id }}">Monto</label>
    <input id="pase_destinations_{{ id }}" type=number
           name="pase[destinations][{{ id }}]" min="0" step="0.01" max="{{ max }}"
           value="{{ value }}"
           data-currency="{{ currency }}">
    <span> {{ currency }}<span>
  </fieldset>
</template>

<% content_for :head do %>
  <%= javascript_include_tag 'pases.js' %>
<% end %>
