<h1>Nuevo Pase</h1>
<%= form_for @pase_form.pase do |f| %>

  <p>
  <label>De</label>
  <input disabled value="<%= @pase_form.reserva %>">
  <%= f.hidden_field :origen_id, value: @pase_form.reserva.id %>
  </p>

  <p>
  <%= f.label :fecha %>
  <%= f.date_select :fecha, default: Date.today, end_year: Date.today.year %>
  </p>

  <p>
  <%= f.label :monto %>
  <%= f.number_field :monto, step: '0.01', min: 0, max: @pase_form.pase.monto, required: true %>
    <span id="origen_currency"><%= @pase_form.reserva.total_currency %><span>
  </p>

  <fieldset>
    <legend>Cuentas afectadas</legend>
    <label>
      <%= f.radio_button("cuentas_afectadas", "agencia") %>
      Agencia
    </label>
    <label>
      <%= f.radio_button("cuentas_afectadas", "operadora") %>
      Operadora
    </label>
    <label>
      <%= f.radio_button("cuentas_afectadas", "ambas", checked: true) %>
      Ambas
    </label>
  </fieldset>

  <div class="destinos">
  </div>

  <label>Agregar reserva destino
    <select id="nuevo_destino">
      <option value="" selected disabled>Nueva reserva destino</option>
      <%= options_for_select @pase_form.posibles_reservas %>
    </select>
  </label>

  <p>
  <%= f.submit %>
  </p>
<% end %>

<script>
$(document).on('change', '#pase_origen_id', function (e) {
  const selected = $(this.selectedOptions[0])
  $('span.origen_currency').text(selected.data('currency'))
  $('#pase_monto').val(selected.data('saldo'))
})

$(document).on('change', '#nuevo_destino', function (e) {
  const selected = $(this.selectedOptions[0])
  this.selectedOptions[0].disabled = true
  this.selectedOptions[0].selected = false
  this.options[0].selected = true
  // TODO: mover a un template
  const destino_html ='<fieldset><legend>Pase a ' +
        selected.text() +
        '</legend>' +
        '<label>Monto <input type=number name="pase[destinos][' +
        selected.val() +
        ']" min="0" step="0.01" max="' +
        selected.data('debt') +
        '" value="' +
        selected.data('debt') +
        '"></label> <span>' +
        selected.data('currency') +
        '<span></fieldset>'
  $('.destinos').append(destino_html)
})
</script>

<style>
h1 {
  margin: 20px;
}

form p label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

fieldset {
  width: 400px;
  margin: 20px;
}

label input {
  margin: 3px;
}

form p {
  margin-bottom: 5px;
}

input[disabled] {
  width: 20em;
}

input[type="number"] {
  width: 16em;
  line-height: 2em;
}

.destinos {
  padding-left: 115px;
}
</style>
