<%= form_for @pase do |f| %>
  <p>
  <%= f.label :origen_id %>
  <%= f.select :origen_id, @pase.posibles_reservas %>
  </p>

  <p>
  <%= f.label :monto %>
  <%= f.number_field :monto %>
  </p>

  <p>
  <%= f.label :destino_id %>
  <%= f.select :destino_id, @pase.posibles_reservas, prompt: "Indique destino del pase" %>
  </p>

  <p>
  <label>Cuentas afectadas</label>
  <label><%= f.radio_button("cuentas_afectadas", "agencia") %> Agencia</label>
  <label><%= f.radio_button("cuentas_afectadas", "operadora") %> Operadora</label>
  <label><%= f.radio_button("cuentas_afectadas", "ambas", checked: true) %> Ambas</label>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>
