.ui-layout-north
  = render :partial => 'layouts/menu'

  = render :partial => 'layouts/msn'

  #container
    #flash_notice{:style=>"display:none"}
    = content_tag :h1, yield(:title) if show_title?

  = yield :north

.ui-layout-center
  = yield

.ui-layout-south{:style =>'padding:50px;'}
  #console
  = yield :south

.ui-layout-east
  = render :partial => 'layouts/sidebar'
  = yield :east

.ui-layout-west
  = yield :west

