.ui-layout-north
  = render :partial => 'layouts/menu'

  = render :partial => 'layouts/msn'
  #freeow.freeow.freeow-top-right
  = yield :north

.ui-layout-center
  = yield

.ui-layout-south{:style =>'padding:50px;'}
  #console
  = yield :south

.ui-layout-east
  = render :partial => 'layouts/sidebar'
  = yield :east

.ui-layout-west
  = yield :west

