<%= javascript_include_tag "menu" %>    
<%= stylesheet_link_tag "menu" %>
<div id="menu">
<ul class="tabs">
   <li class="hasmore"><a href="#"><span>ABM</span></a>
     <ul class="dropdown">
       <li><%= link_to 'Operadoras','/operadoras' %></li>
       <li><%= link_to 'Agencias','/agencias' %></li>
       <li><%= link_to 'Programas',programas_path %></li>
       <li><%= link_to 'Pasajeros',pasajeros_path %></li>
       <li class="last"><%= link_to 'Localidades', localidads_path%></li>
     </ul>
   
   <li><%= link_to '<span>Pagos</span>'.html_safe,movimientos_path %></li>
   <li><%= link_to '<span>Reservas</span>'.html_safe,reservas_path %></li>
   <li class="hasmore"><a href="#"><span>Administracion</span></a>
     <ul class="dropdown">
       <li><%= link_to 'Usuarios','/users' %></li>
       <li><%= link_to 'Roles','/roles' %></li>       
     </ul>
	
	<% if user_signed_in? %>  
     <li><%= link_to "Cerrar", destroy_user_session_path %></li>  
   <% else %>  
     <li><%= link_to "Nuevo Usuario", new_user_registration_path %></li>     
     <li><%= link_to "Conectarse", new_user_session_path %></li>
   <% end %> 
</ul>

</div>
