.ui-widget
  .ui-widget-content.version
    %table.wide
      %tr
        %td
          %b Version:
          = model.version
        %td
          %b Modificado
          = model.updated_at
        %td
          %b=model.try(:user).try(:username)
        %td
          - if model.version > 1
            = link_to "Version anterior - #{model.version - 1}",{:controller=>model.class.name.pluralize,
              :action=>'show',:id=>model.id,
              :version=>(model.version - 1)},:remote =>true

          - if params[:version]
            = link_to "Version Actual",model, :remote=>true

