<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <link rel="shortcut icon" href="/images/menuarrow.png" >

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render :partial=>"layouts/ice" %>
  </body>
</html>
