#reservas_grid
  %table#voucher_grid.togrid
    %tr
      %th ID
      %th Titular
      %th Salida
      %th Hotel
      %th Fecha Voucher
      %th Acciones
      %th Voucher


    - for reserva in @reservas
      %tr
        %td= reserva.id
        %td= reserva.try(:titular)
        %td= reserva.try(:salida)
        %td= reserva.try(:hotel)
        %td= reserva.try(:voucher)

        %td
          = link_to 'Show', {:controller=>"reservas",:action=>:show,:id=>reserva.id},:remote=>true
          -if can? :edit, reserva
            = link_to 'Edit', {:controller=>"reservas",:action=>:edit,:id=>reserva.id},:remote=>true
          -if can? :destroy, reserva
            = link_to 'Destroy',{:controller=>"reservas",:action=>:destroy,:id=>reserva.id}, :confirm => 'Are you sure?', :method => :delete,:remote=>true
        %td
          - if reserva.voucher
            .voucher_quitar{:id=>reserva.id}
              Quitar
          - else
            .voucher_cargar{:id=>reserva.id}
              Cargar


.action_bar
  =link_to "imprimir",{:sin_voucher=>params[:sin_voucher],:search=>params[:search],:format=>'pdf'}

