.action_bar
  =link_to "Resetear",new_thabitacion_path,:remote=>true

= semantic_form_for @thabitacion,:remote=>true do |form|
  = form.inputs do
    = error_message(@thabitacion)
  
    = form.input :name
  
  %input{:type=>"CHECKBOX",:name=>"another_one"} seguir creando
  = form.buttons

