#versions.ui-widget
  .ui-widget-header Historia
  .ui-widget-content
    %p
      %b Version:
      = @thabitacion.version
      %br
      %b Modificado:
      = @thabitacion.updated_at
      %br
      %b Usuario:
      %br
      - if @thabitacion.version > 1 
        = link_to "Version anterior - #{@thabitacion.version - 1}",{:version=>(@thabitacion.version - 1)},:remote =>true
       
      - if params[:version]
        = link_to "Version Actual",@thabitacion, :remote=>true 
